<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .center-text {
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="hero-section">

        
        <div class="image-container">
            <img src="/Users/avnijaglan/Downloads/fitnesss.jpg" alt="Fitness Image">
        </div>

     
        <div class="text-container">
            <h1>class="center-text">“Shape Your Perfect Body”</h1>
            <p>Push your limits. Stay consistent. Transform yourself.</p>
        </div>

    </div>

</body>
</html>