<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Manual Input | Smart Workout Recommender</title>


    <!-- Live Server preview -->
    <link rel="stylesheet" href="{{ url_for('static' , filename= 'style.css')}}">
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
    <div class="page">
        <div class="container">

            <div class="topbar">
                <a class="back" href="/home">← Back</a>
                <h1>📝 Manual Input</h1>
            </div>
            
            <form method="POST" action="{{ url_for('manual') }}">
            {{ form.hidden_tag() }}
  
                <h2>1) Select Available Equipment</h2>

                <div class="grid">
                    {% for subfield in form.equip %}
                    <label class="check">
                        {{ subfield(type="checkbox") }}
                        {{ subfield.label }}
                    </label>
                    {% endfor %}
                </div>

                <h2>2) Workout Preferences</h2>

                <div class="row">
                    <div class="col">
                        {{ form.goal.label }}
                        {{ form.goal() }}
                    </div>

                    <div class="col">
                        {{ form.difficulty.label }}
                        {{ form.difficulty() }}
                    </div>

                    <div class="col">
                        {{ form.duration.label }}
                        {{ form.duration() }}
                    </div>
                </div>

                <div class="col">
                    {{ form.muscle_group.label }}
                    {{ form.muscle_group() }}
                </div>

            {{ form.submit(class="btn") }}
            </form>

        </div>
    </div>
</body>
</html>
